
body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  align-items: center
}

#box {
background-color : grey;
padding : 10px;
/*border : 10px solid black;*/
margin : 10px;
width : 1000px;
box-sizing : border-box;
}

#button {
  
  /*background-color : grey;*/
  
  
  
  }

  textarea{
    background-color : grey;}

